<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title content</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body  >
<div  align="center">
    <h1 class="bongo">Welcome to Guess the Number Game</h1>
    <h3>
        <a  th:href="@{__${T(org.marcin.util.GameMappings).PLAY}__}">Nacisnij mnie!!!!!!!!!</a>

    </h3>
    <a  th:href="@{nowy}">Nacisnij mnie!!!!!!!!!</a>
    <p id="demo3">A Paragraph.</p>

    <button type="button" onclick="myFunction()">Try it now</button>
    <button type="button" onclick="alert2()">Try it now</button>
    <div >
        <h1>
            <!-- include image from static resources -->
            <!--  <img th:src="@{/img/logo.png}" alt="error logo"/> -->
              Adding Static Resources (css, JavaScript, Images) to Thymeleaf
          </h1>
      </div>
      <form>
          <div>
              <label>Choose language</label>
              <select>
                  <option value="pl">POL</option>
                  <option value="en">ENG</option>

              </select>

          </div>
      </form>
      <h2>
          <footer></footer>
      </h2>
  </div>

<script type="text/javascript" th:src="@{/js/jsfile.js}"></script>
  </body>
  </html>